<% provide(:title, 'All users') %>
<body style="background-image: url(http://www.magic4walls.com/wp-content/uploads/2013/12/cat-lights-background-1680x1050.jpg);background-size: 100%;background-attachment: fixed;background-repeat: no-repeat;">
    <div class="all_user" style="padding-top: 40px">
        <h1 style="color: blue">All users</h1>
<div class="col-md-4 col-md-offset-2">

<%= will_paginate %>

<ul class="users" style="padding-left:0px;">
   <%= render @users %>
</ul>

<%= will_paginate %>
</div>
    </div>
</body>

