<div class="center jumbotron">
  <h1>Welcome to Blog Service</h1>

  <h2>
    You can view everyone 's entry at:<%= link_to "Feed", users_path, class: "btn btn-lg btn-secondary" %>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


