<footer class="footer">
  <small>
    The Blog demo app</a>
    by <a href="https://www.chatwork.com/Hieu-Frog">LPCH</a>
  </small>
  <nav>
    <ul>

      <li><%= link_to "Contact", 'https://www.chatwork.com/Hieu-Frog' %></li>

    </ul>
  </nav>
</footer>
