<footer class="footer">
  <small>
    The Cocacola's app</a>
    by <a href="https://www.chatwork.com/#!rid45769566">CocacolaVL</a>
  </small>
  <nav>
    <ul>

      <li><%= link_to "Contact", 'https://www.chatwork.com/#!rid45769566' %></li>

    </ul>
  </nav>
</footer>
